<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <% include('partials/navbar', { page: '/about' }) %>

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About Lego Collection</h1>

          <!-- Updated image source with the correct URL -->
          <img src="/aboutme.jpg" alt="Kavya Shah" class="w-full rounded-lg shadow-md">

          <p class="py-6">Welcome to the Lego Collection website, a vibrant corner of creativity and wonder dedicated to the magic of LEGO bricks!</p>

          <p class="pb-6">This website is maintained by Devankit Shukla, a passionate Computer Programming and Analysis student at Seneca College. With a love for technology and creativity, Kavya aims to showcase the endless possibilities of LEGO creations and inspire others to explore the world of building and innovation.</p>

          <p class="pb-6">Whether you're an experienced LEGO enthusiast or just starting your journey, the Lego Collection offers something for everyone. From iconic sets of the past to the latest releases filled with cutting-edge designs, there's boundless inspiration waiting to spark your imagination and fuel your passion for building.</p>

          <p class="pb-6">Join us as we dive into the fascinating world of LEGO creations, from towering structures to whimsical landscapes, from intricate vehicles to fantastical creatures. Let your creativity soar, and let the bricks tell your unique story!</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
